.card {
    width: 20%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
}

.card-photo {
    width: 100%;
    height: 206px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(60,100,177,0.04);
}

.card-photo-img {
    height: 30px;
    width: 30px;
}

.card-text {
    height: 40%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-text-title {
    font-weight: bold;
    font-size: 18px;
    color: #373F41;
    margin-top: 30px;
}

.card-text-tag {
    font-weight: normal;
    font-size: 14px;
    color: #373F41;
}

.card-text-listeners {
    font-weight: 600;
    font-size: 14px;
    color: #737B7D;
}

p {
    margin: 0 0;
}