.top-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-title {
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 32px;
    color: #373F41;     
}

@media screen and (max-width: 425px ) {
    .carousel-title {
        width: 100%;
        text-align: center;
    }
}

@media screen and (min-width: 2560px ) {
    .carousel-title {
        font-size: 64px;
    }
}

.slideshow-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#myCarousel {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.carousel-inner {
    width: 35%;
}

@media screen and (max-width: 425px ) {
    .carousel-inner {
        width: 70%;
    }
}

@media screen and (min-width: 2560px ) {
    .carousel-inner {
        width: 40%;
    }
}

.carousel-control-prev-icon {
  height: 16px;
  width: 16px;
  border: solid #3C64B1;
  border-width: 0 0 2px 2px;
  align-self: center;
  padding: 3px;
  transform: rotate(45deg);
}

.carousel-control-next-icon {
    height: 16px;
    width: 16px;
    border: solid #3C64B1;
    border-width: 2px 2px 0 0;
    align-self: center;
    padding: 3px;
    transform: rotate(45deg);
}

@media screen and (min-width: 2560px ) {
    .carousel-control-prev-icon {
        height: 32px;
        width: 32px;
        border-width: 0 0 4px 4px;
        padding: 6px;
    }
}

@media screen and (min-width: 2560px ) {
    .carousel-control-next-icon {
        height: 32px;
        width: 32px;
        border-width: 4px 4px 0 0;
        padding: 6px;
    }
}
