.nav-button-title {
    font-weight: 700;
    font-size: 14px;
    color: #3C64B1;
    margin: 0 0;
}

@media screen and (min-width: 2560px ) {
    .nav-button-title {
        font-size: 28px;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.nav-button {
    width: 105%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-down {
    border: solid #3C64B1;
    border-width: 0 1px 1px 0;
    align-self: center;
    padding: 3px;
    transform: rotate(45deg);
    margin: 0 0;
}

@media screen and (min-width: 2560px ) {
    .arrow-down {
        border-width: 0 2px 2px 0;
        padding: 6px;
    }
}

.nav-button-second {
    z-index: 1;
}
