.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-title {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 32px;
    color: #373F41;
}

@media screen and (max-width: 320px ) {
    .cards-title {
        width: 90%;
        text-align: center;
    }
}

@media screen and (min-width: 2560px ) {
    .cards-title {
        font-size: 64px;
    }
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 67%;
}

@media screen and (max-width: 425px ) {
    .cards-layout {
        width: 100%;
    }
}

@media screen and (min-width: 1024px ) {
    .cards-layout {
        width: 80%;
    }
}

@media screen and (min-width: 2560px ) {
    .cards-layout {
        width: 60%;
    }
}
