.color-nav {
    background-color: rgba( 60, 100, 177, 0.08);
}

.container-nav {
    height: 88px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 56px;
    height: 56.15px;
}


h1 {
    z-index: 1;
    font-weight: bold;
    font-size: 44px;
    color: #373F41;
}

@media screen and (min-width: 2560px ) {
    h1 {
        font-size: 100px;
    }
}

p {
    font-weight: normal;
    font-size: 16px;
    color: #737B7D;
}

@media screen and (min-width: 2560px ) {
    p {
        font-size: 40px;
    }
}

.container-image {
    position: relative;
    text-align: center;
}


.container-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 425px ) {
    .container-text {
        width: 90%;
    }
}

.nav-header {
    width: 100%;
    height: calc(70vh - 88px);
    z-index: 0;
}

@media screen and (max-width: 425px ) {
    .nav-header {
        object-fit: cover;
    }
}
