.inside-slide {
    position: relative;
    text-align: center;
    width: 540px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E2E5E6;
}

.slide-photo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #3C64B1;
}

.slide-photo-box-number {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.slide-photo-img {
    height: 280px;
    width: 280px;
}

.slide-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide-text-title {
    margin-top: 20px;
    font-weight: bold;
    font-size: 32px;
    color: #000000;
}

.slide-text-tags {
    font-weight: normal;
    font-size: 16px;
    color: #373F41;
}

.slide-text-listeners {
    font-weight: 600;
    font-size: 16px;
    color: #737B7D;
}
